.itemDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 1px 5px 5px #5e548e;
    overflow: hidden;
    transition: all 0.25s;
    width: 530px;
    height: 610px;
    margin: 40px 400px;
    padding: 10px auto;
}

.itemImage {
    height: 180px;
    margin-top: 150px;
}

.itemInformacion {
    max-width: 300px;
    
}

.tituloCard{
    font-size: 30px;
    color: white;
    background-color: #5e548e;
    margin: 2rem ;
    padding: 5px;
    border-radius: 8px;
}

.textodetail{
    font-size: 20px;
    color: #8F548D;
    padding: 10px auto;
}

.itemDetail h3{
    font-size: 30px;
    color: white;
    background-color: #5e548e;
    margin: 2rem ;
    padding: 1px;
    border-radius: 8px;
}

.itemDetailButton{
    margin: 1rem auto;
    font-size: 23px;
    color: #5e548e;
    border: solid #5e548e;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Gochi Hand', cursive;
}

.itemDetailButton:hover{
    background-color: #5e548e;
    color: white;
}

@media (max-width: 768px){
    .itemDetail{
        margin: 38px 120px;
    }
}