h1{
    margin: 2rem auto;
    color: #5e548e;
    font-family: 'Gochi Hand', cursive;
}

.orderForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 1px 5px 5px #5e548e;
    overflow: hidden;
    transition: all 0.25s;
    width: 530px;
    height: 400px;
    margin: 40px 400px;
    padding: 10px auto;
    font-size: 23px;
}

.labelForm{
    margin: 1.5rem auto;
    color: #5e548e;
}

.buttonForm{
    margin: 1rem auto;
    font-size: 23px;
    color: #5e548e;
    border: solid #5e548e;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Gochi Hand', cursive;
}

.buttonForm:hover{
    background-color: #5e548e;
    color: white;
}

@media (max-width: 768px){
    .orderForm{
        margin: 38px 120px;
    }
}