h1{
    margin: 2rem auto;
    color: #5e548e;
    font-family: 'Gochi Hand', cursive;
}

h3{
    margin: 2rem auto;
    color:  #5e548e;
    font-family: 'Gochi Hand', cursive;
}

h2{
    color:#5e548e;
}

.buttonCartContainer{
    margin: 1rem auto;
    font-size: 23px;
    color:  #5e548e;
    border: solid  #5e548e;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Gochi Hand', cursive;
}

.buttonCartContainer:hover{
    background-color: #5e548e;
    color: white;
}

.cartLink{
    font-size: 20px;
    text-decoration: none;
    color:#5e548e;
}

.cartLink:hover{
    color: #e0b1cb;
}

.contactoLink{
    font-size: 25px;
    text-decoration: none;
    color:  #5e548e;
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
}

.contactoLink:hover{
    color: #e0b1cb;
}

.cartVacio{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 1px 5px 5px #5e548e;
    overflow: hidden;
    transition: all 0.25s;
    width: 530px;
    height: 190px;
    margin: 40px 400px;
    padding: 10px auto;
}

@media (max-width: 768px){
    .cartVacio{
        margin: 38px 120px;
    }
}