.item {
    width: 320px;
    height: 370px;
    border-radius: 8px;
    box-shadow: 1px 5px 5px #5e548e;
    overflow: hidden;
    margin: 20px 59px;
    text-align: center;
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item:hover{
    transform: translateY(-15px);
    box-shadow: 3px 12px 16px #5e548e;
}

.item img{
    height: 180px;
    margin: 10px
}

.item h4{
    font-weight: 300;
    font-size: 32px;
    margin: 15px
}

.item h3{
    font-size: 20px;
    color: #5e548e;
}

.item button{
    margin: 1rem auto;
    font-size: 23px;
    color: #5e548e;
    border: solid #5e548e;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Gochi Hand', cursive;
}

.item button:hover{
    background-color: #5e548e;
    color: white;
}

@media (max-width: 768px){
    .item{
        margin: 18px 30px;
    }
}