.cartItem{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 1px 5px 5px #5e548e;
    overflow: hidden;
    transition: all 0.25s;
    width: 530px;
    height: 290px;
    margin: 40px 400px;
    padding: 10px auto;
}

.tituloCardCart{
    font-size: 25px;
    color: white;
    background-color:  #5e548e;
    margin: 2rem ;
    padding: 5px;
    border-radius: 8px;
    text-align: center;
}

.cartImg{
    height: 180px;
    margin-top: 10px;
}

.textoCartItem{
    font-size: 23px;
    color:  #5e548e;
    padding: 10px auto;
    text-align: center;
}

.buttonCart{
    margin: 2rem auto;
    font-size: 23px;
    color:  #5e548e;
    border: solid #5e548e;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Gochi Hand', cursive;
}

.buttonCart:hover{
    background-color:  #5e548e;
    color: white;
}

@media (max-width: 768px){
    .cartItem{
        margin: 38px 120px;
    }
}