.tituloCard{
    font-size: 30px;
    color: white;
    background-color: #06d6a0;
    margin: 1.5rem ;
    padding: 5px 5px;
    border-radius: 8px;
}

.agregarQuitarItem{
    margin: 0.5rem auto;
    display:flex;
    justify-content: space-between;
    width: 60%;
    font-family: 'Gochi Hand', cursive;
}

.botonAgregarQuitar{
    font-size: 40px;
    width: 50px;
    height: 50px;
    border: solid #06d6a0;
    border-radius: 50%;
    color: #06d6a0;
    font-family: 'Gochi Hand', cursive;
}

.botonAgregarQuitar:hover{
    background-color: #06d6a0;
    color: white;
}

.cantidadItem{
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #06d6a0;
    padding: 5px 5px;
    border-radius: 8px;
    font-family: 'Gochi Hand', cursive;
}

.agregarAlCarrito{
    margin: 1rem auto;
    font-size: 23px;
    color: #06d6a0;
    border: solid #06d6a0;
    border-radius: 8px;
    padding: 5px;
    font-family: 'Gochi Hand', cursive;
}
.agregarAlCarrito:hover{
    background-color: #06d6a0;
    color: white;
}

.itemCount {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 1px 5px 5px  #06d6a0;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemCount:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px  #06d6a0;
}

.itemCount img{
    height: 180px;
    margin: 10px
}

.itemCount h4{
    font-weight: 300;
    font-size: 30px;
    margin: 15px
}
